prefix_rule(
  pattern=["pnpm", "--filter"]
  decision="allow"
  match = [
    "pnpm --filter ./server add",
    "pnpm --filter ./server install",
    "pnpm --filter ./client add",
    "pnpm --filter ./client install",
  ],
)

prefix_rule(pattern=["pnpm", "exec", "playwright", "test"], decision="allow")
